# Machine Learning | Lidando com Dados de Muitas Dimensões

### Aula 2.3 | A dimensionalidade dos dados

Recebendo a entrada dos dados, é necessário realizar um **pré processamento e transformações nos dados**. A partir dos dados tratados, **construímos o modelo de ml** e separamos em **dados de testes**. Após isso, **avaliaremos o modelo** e, se necessário, **ajustaremos os hiperparâmetros**. Por fim, **fazemos a previsão**.

In [1]:
import pandas as pd

resultados_exames = pd.read_csv('exames.csv')
resultados_exames.head()

,id,diagnostico,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
0,842302,M,17.99,10.38,122.80,103.78,1001.0,0.11840,0.27760,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.786,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,103.78,1326.0,0.08474,0.07864,0.0869,...,158.80,1956.0,0.1238,0.1866,0.2416,0.786,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,103.78,1203.0,0.10960,0.15990,0.1974,...,152.50,1709.0,0.1444,0.4245,0.4504,0.786,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,103.78,386.1,0.14250,0.28390,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.786,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,103.78,1297.0,0.10030,0.13280,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.786,0.1625,0.2364,0.07678,0.854454

In [4]:
from sklearn.model_selection import train_test_split
from numpy import random

SEED = 9153
random.seed(SEED)

valores_exames = resultados_exames.drop(columns=['id', 'diagnostico'])
diagnostico = resultados_exames.diagnostico

# Dividindo os dados em treino e teste
treino_x, treino_y, teste_x, teste_y = train_test_split(valores_exames,diagnostico)

chegou aqui
chegou aqui2
chegou aqui3

In [5]:
treino_x.head()

,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,exame_9,exame_10,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
223,15.75,20.25,102.60,103.78,761.3,0.10250,0.12040,0.11470,0.06462,0.1935,...,125.90,1088.0,0.1552,0.44800,0.39760,0.786,0.14790,0.3993,0.10640,NaN
362,12.76,18.84,81.87,103.78,496.6,0.09676,0.07952,0.02688,0.01781,0.1759,...,87.82,579.7,0.1298,0.18390,0.12550,0.786,0.08312,0.2744,0.07238,NaN
487,19.44,18.82,128.10,103.78,1167.0,0.10890,0.14480,0.22560,0.11940,0.1823,...,153.90,1740.0,0.1514,0.37250,0.59360,0.786,0.20600,0.3266,0.09009,NaN
173,11.08,14.71,70.21,103.78,372.7,0.10060,0.05743,0.02363,0.02583,0.1566,...,72.01,396.5,0.1216,0.08240,0.03938,0.786,0.04306,0.1902,0.07313,0.558041
311,14.61,15.69,92.68,103.78,664.9,0.07618,0.03515,0.01447,0.01877,0.1632,...,103.70,840.8,0.1011,0.07087,0.04746,0.786,0.05813,0.2530,0.05695,NaN

In [6]:
treino_y.head()

,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,exame_9,exame_10,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
157,16.84,19.46,108.40,103.78,880.2,0.07445,0.07223,0.05150,0.02771,0.1844,...,120.30,1032.0,0.08774,0.17100,0.1882,0.786,0.08436,0.2527,0.05972,NaN
434,14.86,16.94,94.89,103.78,673.7,0.08924,0.07074,0.03346,0.02877,0.1573,...,102.30,777.5,0.12180,0.15500,0.1220,0.786,0.07971,0.2525,0.06827,0.855036
8,13.00,21.82,87.50,103.78,519.8,0.12730,0.19320,0.18590,0.09353,0.2350,...,106.20,739.3,0.17030,0.54010,0.5390,0.786,0.20600,0.4378,0.10720,NaN
568,7.76,24.54,47.92,103.78,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,59.16,268.6,0.08996,0.06444,0.0000,0.786,0.00000,0.2871,0.07039,NaN
242,11.30,18.19,73.93,103.78,389.4,0.09592,0.13250,0.15480,0.02854,0.2054,...,87.16,472.9,0.13470,0.48480,0.7436,0.786,0.12180,0.3308,0.12970,NaN

In [7]:
from sklearn.ensemble import RandomForestClassifier

classificador = RandomForestClassifier(n_estimators=100)
classificador.fit(treino_x, treino_y)

print("Acurácia: ", classificador.score(teste_x, teste_y))

ValueError: Input X contains NaN.
RandomForestClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values